<!DOCTYPE html>
<html>
<head>
    <title>Dynamic Graph</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            height: 100vh;
        }
        h2 {
            text-align: center;
        }
        canvas {
            border: 1px solid #ccc;
            margin: 20px auto;
            display: block;
            width: 1fr;
            height: 1fr;
        }
        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }
        .pose_container { grid-area: 1 / 1 / 2 / 2; }
        .odom_container { grid-area: 1 / 2 / 2 / 3; }
        .angle_container { grid-area: 2 / 1 / 3 / 2; }
        .accel_container { grid-area: 2 / 2 / 3 / 3; } 

    </style>
</head>
<body>
    <div class="container">
        <div class="pose_container">
            <h3 style="text-align: center;">Position</h3>
            <canvas id="pose"></canvas>
        </div>

        <div class="odom_container">
            <h3 style="text-align: center;">Odometry (distance travelled)</h3>
            <canvas id="odometry"></canvas>
        </div>

        <div class="angle_container">
            <h3 style="text-align: center;">Angle Velocity</h3>
            <canvas id="angle"></canvas>    
        </div>

        <div class="accel_container">
            <h3 style="text-align: center;">Angle Velocity</h3>
            <canvas id="accel"></canvas>    
        </div>
    </div>
    <script>
        const pose_ctx = document.getElementById('pose').getContext('2d');
        const odometry_ctx = document.getElementById('odometry').getContext('2d');
        const angle_ctx = document.getElementById('angle').getContext('2d');
        const accel_ctx = document.getElementById('accel').getContext('2d');

        // Update your charts here using the kpi_data
        const pose_chart = new Chart(pose_ctx, {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: 'Position',
                        borderColor: 'blue',
                        borderWidth: 2,
                        fill: true,
                        data: []
                    },
                    {
                        label: 'Direction',
                        borderColor: 'red',
                        borderWidth: 1,
                        fill: true,
                        data: []
                    }
                ]
            },
            options: {
                scales: {
                    x: { type:'linear', min: -10, max: 10, position: 'bottom', title: { display: true, text: 'x (m)' } },
                    y: { min: -10, max: 10, title: { display: true, text: 'y (m)' } }
                }
            }
        });

        // Update your charts here using the kpi_data
        const odom_chart = new Chart(odometry_ctx, {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: 'Position',
                        borderColor: 'blue',
                        borderWidth: 2,
                        fill: true,
                        data: []
                    },
                    {
                        label: 'Direction',
                        borderColor: 'red',
                        borderWidth: 1,
                        fill: true,
                        data: []
                    }
                ]
            },
            options: {
                scales: {
                    x: { type:'linear', min: -10, max: 10, position: 'bottom', title: { display: true, text: 'x (m)' } },
                    y: { min: -10, max: 10, title: { display: true, text: 'y (m)' } }
                }
            }
        });

        // Update your charts here using the kpi_data
        const angle_chart = new Chart(angle_ctx, {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: 'Position',
                        borderColor: 'blue',
                        borderWidth: 2,
                        fill: true,
                        data: []
                    },
                    {
                        label: 'Direction',
                        borderColor: 'red',
                        borderWidth: 1,
                        fill: true,
                        data: []
                    }
                ]
            },
            options: {
                scales: {
                    x: { type:'linear', min: -10, max: 10, position: 'bottom', title: { display: true, text: 'x (m)' } },
                    y: { min: -10, max: 10, title: { display: true, text: 'y (m)' } }
                }
            }
        });

        // Update your charts here using the kpi_data
        const accel_chart = new Chart(accel_ctx, {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: 'Position',
                        borderColor: 'blue',
                        borderWidth: 2,
                        fill: true,
                        data: []
                    },
                    {
                        label: 'Direction',
                        borderColor: 'red',
                        borderWidth: 1,
                        fill: true,
                        data: []
                    }
                ]
            },
            options: {
                scales: {
                    x: { type:'linear', min: -10, max: 10, position: 'bottom', title: { display: true, text: 'x (m)' } },
                    y: { min: -10, max: 10, title: { display: true, text: 'y (m)' } }
                }
            }
        });

        function fetchData() {
            return fetch('/get_kpi')
                .then(response => response.json());
        }

        function updateCharts(data) {
            pose_chart.data.datasets[0].data = [{x:data.x, y:data.y}];
            pose_chart.data.datasets[1].data = [{x:data.x, y:data.y}, {x:data.x + (0.5 * Math.cos(data.yaw)), y:data.y + (0.5 * Math.sin(data.yaw))}];
            pose_chart.update();
        }

        async function tick() {
            const data = await fetchData();
            console.log(data);
            updateCharts(data);
            // Update charts with kpi_data
            setTimeout(tick, 200); // Fetch new data every second
        }
        
        tick();

        
    </script>
</body>
</html>