<!DOCTYPE html>
<html>
<head>
    <title>Dynamic Graph</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <canvas style="width: 100px; height: 100px;" id="pose"></canvas>
    <canvas id="odometry"></canvas>
    <canvas id="angle"></canvas>
    <canvas id="accel"></canvas>
    <script>
        const pose_ctx = document.getElementById('pose').getContext('2d');
        const odometry_ctx = document.getElementById('odometry').getContext('2d');
        const angle_ctx = document.getElementById('angle').getContext('2d');
        const accel_ctx = document.getElementById('accel').getContext('2d');

        // Update your charts here using the kpi_data
        const pose_chart = new Chart(pose_ctx, {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: 'Position',
                        borderColor: 'blue',
                        borderWidth: 2,
                        fill: true,
                        data: []
                    },
                    {
                        label: 'Direction',
                        borderColor: 'red',
                        borderWidth: 1,
                        fill: true,
                        data: []
                    }
                ]
            },
            options: {
                scales: {
                    x: { type:'linear', min: -10, max: 10, position: 'bottom', title: { display: true, text: 'x (m)' } },
                    y: { min: -10, max: 10, title: { display: true, text: 'y (m)' } }
                }
            }
        });

        function fetchData() {
            return fetch('/get_kpi')
                .then(response => response.json());
        }

        function updateCharts(data) {
            pose_chart.data.datasets[0].data = [{x:data.x, y:data.y}];
            pose_chart.data.datasets[1].data = [{x:data.x, y:data.y}, {x:data.x + (0.5 * Math.cos(data.yaw)), y:data.y + (0.5 * Math.sin(data.yaw))}];
            pose_chart.update();
        }

        async function tick() {
            const data = await fetchData();
            console.log(data);
            updateCharts(data);
            // Update charts with kpi_data
            setTimeout(tick, 200); // Fetch new data every second
        }
        
        tick();

        
    </script>
</body>
</html>