./ugv-env/
./__pycache__/
./build/
./dist/
./*.egg-info/
./.vscode/
./.idea/
./*.pyc
./*.pyo
./*.pyd
./.env/
./env/
./venv/
./.venv/
./.mypy_cache/
./.pytest_cache/
./.coverage
./htmlcov/
./.tox/
./.nox/
./.hypothesis/
./.DS_Store
./.ropeproject/
./.pytest_cache/
./.ipynb_checkpoints/
./.spyderproject/
./.spyproject/
./.vscode/
./.mvn/
./target/
./logs/
./*.log
./.idea/
./*.iml
./out/
./.gradle/
./build/
./.gradle/
./.settings/
./.classpath
./.project
./.factorypath
*ugv-env/
*__pycache__/
*build/
*dist/
**/*.egg-info/
*.vscode/
*.idea/
*.pyc
*.pyo
*.pyd
*.env/
ugv-env/
__pycache__/
env/
venv/
.venv/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.DS_Store
.ropeproject/
.pytest_cache/
.ipynb_checkpoints/
.spyderproject/
.spyproject/
.vscode/
.mvn/
target/
logs/
*.log
.idea/
*.iml
out/
.gradle/
build/
.gradle/
.settings/
.classpath